<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Pingttendance</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon"  href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>
		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100">
					<div class="spamm" style="">
						<p id="intro" style="font-size:40px;">
							<b>Thank You for using our service</b>
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>